.table-responsive div.dataTables_wrapper.dt-bootstrap5.no-footer div label,
.table-responsive div.dataTables_wrapper.dt-bootstrap5.no-footer div button {
    margin: 0 !important;
}

.force-wrap-space {
    white-space: break-spaces !important;
}
.extend-min-width{
    min-width: 250px !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 5rem;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: unset;
}
