.btn {
    margin: 0;
}
.card-sm {
    box-shadow: 0 0 0.5rem 0 #eee !important;
}
textarea {
    resize: none;
}
#btn-to-top {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
 }